<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="invita">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>Invita</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cerca">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Cerca</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>