<ion-header>
  <ion-toolbar>
    <ion-title>Invita</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab-button (click)="takePhoto()">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>

  <ion-fab-button (click)="takeVideo()">
    <ion-icon name="video"></ion-icon>
  </ion-fab-button>

  <ion-grid>
    <ion-row>
    <ion-col size="6" 
    *ngFor="let photo of mediaService.photos;">
    <ion-img [src]="photo.path"></ion-img>
    </ion-col>

    
    <video *ngIf="mediaService.videos[0]" controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
      <!-- <source src="https://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" type="video/mp4" /> -->
      <source  src={{mediaService.videos[0].path}} type="video/mp4" />
     </video>
    
    </ion-row>
  </ion-grid>
</ion-content>
